<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345026614913-f4tracru8pnt70u2b8u201mnpbpv2jj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345026614913-f4tracru8pnt70u2b8u201mnpbpv2jj5</string>
	<key>API_KEY</key>
	<string>AIzaSyBEiMPDg7wMkMFdCVSUyosUk4L9kGBy__o</string>
	<key>GCM_SENDER_ID</key>
	<string>345026614913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quentin.OnMyWay</string>
	<key>PROJECT_ID</key>
	<string>onmyway-fde17</string>
	<key>STORAGE_BUCKET</key>
	<string>onmyway-fde17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345026614913:ios:a01f480f1e801ee7</string>
	<key>DATABASE_URL</key>
	<string>https://onmyway-fde17.firebaseio.com</string>
</dict>
</plist>